
*.userprefs
.vs
*.cache
RecommenderSystem/bin/Debug
RecommenderSystem\bin\Debug
RecommenderSystem\obj\Debug
RecommenderSystem/obj/Debug

RecommenderSystem.Tests01/bin/Debug/
RecommenderSystem.Tests01\bin\Debug\
RecommenderSystem.Tests01\obj\Debug\
RecommenderSystem.Tests01/obj/Debug/